.nav {
  padding: rem(1vw);
}

.link {
  text-decoration: none;
  color: var(--mantine-color-white);
  font-weight: bold;
}

.link:hover {
  color: cornflowerblue;
}

.navbarButton:hover {
  color: cornflowerblue;
  background-color: transparent;
}

.loginButton {
  color: var(--mantine-color-white);
}